@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PolySans Neutral";
  src: url("https://db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.eot");
  src: url("https://db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.svg#PolySans Neutral")
      format("svg");
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.button {
  @apply border border-gray px-4 py-1 rounded-xl text-gray duration-300 hover:border-primary hover:text-white hover:bg-primary;
}

.button-xl {
  @apply px-8 py-2 text-xl !important;
}

.bounce {
  @apply hover:-translate-y-1 duration-150;
}

.link {
  @apply text-gray duration-300 hover:text-white cursor-pointer;
}

*::-webkit-scrollbar {
  display: none;
}
